html {
  scroll-behavior: smooth;
  background-color: var(--white-color);
}

img {
  display: block;
}


code {
  background-color: #e9f1f6;
  padding: 0.2rem;
  border-radius: 4px;
}

pre.code {
  overflow-x: auto;
  background-color: #e9f1f6;
  padding: 1rem;
  border-radius: 4px;
}

// Body Locked
body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  color: var(--text-color);

  &.locked {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;

  &--not-hidden {
    overflow: visible;
  }

  main {
    flex-grow: 1;
  }
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: 1px solid var(--grey-color);
  background-color: var(--white-color);
  border-radius: 62px;
  width: fit-content;

  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: 1px solid transparent;
  background: var(--main-gradient);
  border-radius: 62px;
  width: fit-content;

  font-weight: 400;
  font-size: 18px;
  color: var(--white-color);
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}