// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1460;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #0a0a37;
$burgerActiveColor: 'white';

:root {
  // fonts
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Quantify", sans-serif;

  // colors

  --primary-color: #6a12cb;
  --secondary-color: #2575fc;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #cccccc;
  --text-color: #0a0a37;
  --input-color: #afafbb;
  --label-color: #5570f1;
  --input-border-color: #d0d0da;
  --disabled-btn: #8282a5;
  --main-gradient: linear-gradient(270deg, #6a12cb 0%, #2575fc 100%);
}